
.CartSummary_tableRow {
    margin: 4px 0px;
}

.CartSummary_tableHeader {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

.bold {
    font-weight: 500;
}

.CartSummary_tableData {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}

